{% extends "../base.html" %}

{% block content %}
  <section id="content">
      <h1 class="mh">Категории</h1>

      <div class="table-overflow">
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                </tr>
            </thead>
            <tbody>
                {% for item in categories %}
                  <tr a-linked = "{% url 'admin:category' item.uuid %}">
                      <th>{{ item.name }}</th>
                  </tr>
                {% endfor %}
                <tr class="expand" a-linked="{% url 'admin:category' 'new' %}">
                  <th colspan="100%">
                    <div class="inner">
                      <span class="material-symbols-outlined">add</span>
                      Добавить
                    </div>
                  </th>
              </tr>
            </tbody>
        </table>
      </div>
  </section>
{% endblock %}
