<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/static/res/logo.svg" />

    <title>Neuroezoterica Admin</title>
    <script type="module" crossorigin src="/static/assets/global-31735648.js"></script>
    <link rel="stylesheet" href="/static/assets/global-69c35530.css">
    <link rel="stylesheet" href="/static/assets/admin-auth-0cfacdb1.css">
  </head>
  <body>
    <section id="app">
      <form id="form" method="POST">
        <header>
          <img src="/static/res/logo.svg" id="logo">
          <h1>Neuroezoterica</h1>
        </header>

        <div class="just-input">
          <label>Пароль</label>
          <input type="text" name="password" required>
        </div>

        <button id="submit" type="submit">Войти</button>
      </form>
    </section>
  </body>
</html>
