{% extends "./base.html" %}

{% block tab_content %}
    {% if sessions %}
        <div class="table-overflow">
            <table class="table">
                <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Статус</th>
                        <th>Время</th>
                        <th>Дата начала</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in sessions %}
                        <tr>
                            {% if user.role == "client" %}
                                {% with refer=item.service.owner.user %}
                                    <th>{{ refer.first_name }} {{ refer.last_name|default_if_none:"" }}</th>
                                {% endwith %}
                            {% elif user.role == "expert" %}
                                {% with refer=item.client.user %}
                                    <th>{{ refer.first_name }} {{ refer.last_name|default_if_none:"" }}</th>
                                {% endwith %}
                            {% endif %}

                            {% if item.status == "pre_payment" %}
                                <td class="cancel">Ожидает оплаты</td>
                            {% elif item.status == "paid" %}
                                <td class="confirm">Оплачено, ждет начала</th>
                            {% elif item.status == "active" %}
                                <td class="gold">Идет в данный момент</td>
                            {% endif %}

                            <td>{{ item.hour }}:00</td>
                            <td>{{ item.date.date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h1 class="mh">Сеансы отсутствуют</h1>
    {% endif %}
{% endblock %}
