{% extends "./base.html" %}

{% block tab_content %}
    {% if services %}
        <div class="table-overflow">
            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Категория</th>
                        <th>Тип</th>
                        <th>Стоимость</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in services %}
                        <tr>
                            <th>{{ item.name }}</th>
                            <td>{{ item.category.name }}</td>
                            {% if item.telegram_link is None %}
                                <td class="gold">В приложении</td>
                            {% else %}
                                <td class="blue">В телеграм</td>
                            {% endif %}
                            <td>{{ item.price }} ₽</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h1 class="mh">Услуги отсутствуют</h1>
    {% endif %}
{% endblock %}
